---
Language: Cpp
BasedOnStyle: LLVM

ColumnLimit: 100
SortIncludes: false

IndentWidth: 4
AccessModifierOffset: -4
ContinuationIndentWidth: 4

AlignAfterOpenBracket: Align
AlignOperands: true
PointerAlignment: Right
DerivePointerAlignment: false

AllowShortFunctionsOnASingleLine: InlineOnly

BinPackArguments: false
BinPackParameters: false

AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

AllowShortIfStatementsOnASingleLine: WithoutElse

AlwaysBreakAfterDefinitionReturnType: None
PenaltyReturnTypeOnItsOwnLine: 1000

AlwaysBreakTemplateDeclarations: Yes

ConstructorInitializerIndentWidth: 4
BreakConstructorInitializers: BeforeComma

SpacesBeforeTrailingComments: 1
...
