*.*.swp
Planner
Test
test-*
test_*
_*
*.*~
.#*
.test
*/*.test
grub2/grub2
grub2/testdata/tmp_*
themes/themes
network1/network
accounts1/accounts
audio1/audio
audio1/testdata/
datetime/datetime
deepin-daemon/deepin-daemon
desktop-toggle/desktop-toggle
display/display
dock-apps-builder/dock-apps-builder
dock-daemon/dock-daemon
inputdevices1/inputdevices
keybinding1/keybinding
launcher-daemon/launcher-daemon
mime/mime
mounts/mounts
power/power
system-info/system-info
zone-settings/zone-settings
bluetooth1/bluetooth
main_network.go
bin/default-terminal/default-terminal
bin/default-file-manager/default-file-manager
bin/dde-session-daemon/dde-session-daemon
bin/dde-greeter-setter/dde-greeter-setter
bin/dde-system-daemon/dde-system-daemon
bin/dde-dock-daemon/dde-dock-daemon
bin/dde-session-initializer/dde-session-initializer
!launcher/testdata/.config/launcher/*
system/uadp1/testdata/

out/
gopath/
.vscode/
.idea/
vendor/

a.out
misc/polkit-action/*.policy
coverage.csv