[D-BUS Service]
Name=org.deepin.dde.Accounts1
Exec=/usr/bin/false
SystemdService=dde-system-daemon.service
SystemdService=deepin-accounts1-daemon.service
